@charset "utf-8";

h1 {
  color: teal;
}

strong {
  color: red;
}

span.destacado {
  color: orange;
}

span.especial {
  color: purple;
}

a {
  color: red;
}

em {
  color: blue;
}

h2#subtitulo {
  color:blue;
}

table {
  border-collapse: collapse;
}

caption {
  color: blue;
}

tr {
  border: 1px solid black;
}

td {
  color: green;
  border: 1px solid black;
}

td strong {
  color: orange;
}

td em {
  color: green;
}

th{
color: red;
border: 1px solid black;
}

th.especial {
  color: orange;
}

div#adicional {
  color: olive;
}

div#adicional a {
  color:green;
}


div p span#especial {
  color: fuchsia;
}