@charset "utf-8";

body {
    background-color: #C5E0EB;
    font-family: sans-serif;
}

h1 {
  font-size: 300%;
  text-align: center;
  text-decoration: underline;
}

h2 {
  background-color: #3F99BF;
  font-size: 200%;
}

blockquote {
  font-style: italic;
}

h3 {
  font-size: 150%;
  background-color: #79B7D2;
  color:white;
}


pre {
  background-color: white;
  font-weight: bold;
  font-family: monospace;
}

address {
  font-family: serif;
  text-align: right;
  font-style: normal;
}