@charset "utf-8";

p {
  border: 5px solid black;
  width: 500px;
  line-height: 50px;
  padding-top: 20px;
}

div {
  background-color: orange;
  width: 350px;
  height: 200px;
  position: relative;
  top: -750px;
  left: 75px;
}