@charset "utf-8";

body {
  font-family: 'Times New Roman';
  font-size: 11;
}

h1 {
  color: #000000;
  text-decoration: underline;
}

p.clase1 {
  color: #FF6600;
}

ol {
  color: #FF6600;
}

h2.clase2 {
  font-size: 150%;
  color: #006600;
}

span#identifi1 {
  text-decoration: underline;
}

span.sub_rojo {
  color: #FF0044;
  font-weight:bold;
  text-decoration: underline;
}

p.final {
  background-color: #99CCFF;
  color: #FF0044;
  text-align: right;
}
