@charset "utf-8";

div {
  display: flex;
  flex-direction: row;
}

p {
  font-size: 20px;
  color: white;
  background-color: lightblue;
  margin:15px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

p.especial:hover {
  background-color: lightcoral;
}